<div class="reward">
    <button class="reward-btn">
        <%= __('page.reward') %>
    </button>
    <div class="reward-content">
        <i class="fas fa-thumbs-up"></i>
        <span class="reward-title"><%= (theme.reward.title) %></span>
        <div class="reward-images">
            <a href="<%= (theme.reward.alipay) %>" data-fancybox="gallery">
                <img src="<%= (theme.reward.alipay) %>">
            </a>
            <a href="<%= (theme.reward.wxpay) %>" data-fancybox="gallery">
                <img src="<%= (theme.reward.wxpay) %>">
            </a>
        </div>
    </div>
</div>